<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <a href="~/"><img src="~/Content/Images/logo.png" /></a>
            @Html.Action("CartSummary","ShoppingCart")
        </div>
    </div>
    <div class="container">
        <div class="row panel">
            <div class="col-xs-3">

                @Html.Action("Menu","Nav")
            </div>
            <div class="col-xs-8">
                @RenderBody()
            </div>

        </div>
        
        <footer>
            <p>&copy; @DateTime.Now.Year - O-Shopen</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
